<div *ngIf="clients">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col">UserName</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tr *ngFor="let client of clients">
      <td>
        {{ client.name.title }} {{ client.name.first }} {{ client.name.last }}
      </td>
      <td>
        {{ client.location.street }} {{ client.location.city }}
        {{ client.location.state }}
      </td>
      <td>{{ client.email }}</td>
      <td>{{ client.login.username }}</td>
      <td>
        <div class="row">
          <div class="col-6">
            <button
              type="button"
              class="btn btn-primary"
              (click)="selectClient(client)"
            >
              Detail
            </button>
          </div>
          <div class="col-6">
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteClient(client)"
            >
              Delete
            </button>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
<div>{{ clients | json }}</div>
<section>
  Detail
  <div>Current Client: {{ selectedClient$ | async | json }}</div>
</section>
